### Whatever the file names, keeping here, that would be not tracked by Git. Like a local copy of those files


.terraform
.terraform.lock.hcl
terraform.tfvars
provider.tf
terraform.tfstate
*.tfstate.backup
*.tfvars
*.log
*.pem
